<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/header') %>    
</head>

<body>
<!--sidebar_minimize-->
  <div class="wrapper  ">
    <%- include('partials/sidebar', { collections: collections }) %>
      <div class="main-panel">
        <div class="main-header">
          <div class="main-header-logo">
            <!-- Logo Header -->
            <div class="logo-header" data-background-color="dark">
              <a href="../index.html" class="logo">
                <img src="/assets/img/kaiadmin/logo_light.svg" alt="navbar brand" class="navbar-brand" height="20" />
              </a>
              <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                  <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                  <i class="gg-menu-left"></i>
                </button>
              </div>
              <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
              </button>
            </div>
            <!-- End Logo Header -->
          </div>
          <%- include('partials/navbar') %>
        </div>
        <div class="container">
          <div class="page-inner">
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal"
                  data-bs-target="#exampleModal">
                  Agregar Necropsia
                </button>
                <div class="card">
                  <div class="card-header">

                    <div class="mb-4 margen-btn-tabla">

                    </div>
                    <h4 class="card-title">
                      <%= collectionName %>
                    </h4>
                  </div>

                  <div class="card-body">

                    <div class="table-responsive">
                      <table id="basic-datatables" style="text-align: center; width:100%"
                        class="display responsive nowrap table table-striped table-hover"> 
                        <thead>
                          <tr>
                            <th>Legajo</th>
                            <th>Of. Fiscal</th>
                            <th>Expte</th>
                            <th>Nombre y Apellido</th>
                            <th>edad</th>
                            <th>Perito</th>
                            <th>Codigo</th>
                            <th>Ingreso</th>
                            <th>visado</th>
                            <th>Observ.</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody>
                          <!--Datatables-->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <!-- MODAL INGRESO CADAVER -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Agregar Necropsia
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <%- include('modals/necro-form') %>
      </div>
    </div>
  </div>


  
  
  

  <%- include('partials/scripts') %>
  <script type="module" src="/assets/js/necropsias/main.js"></script>
   
</body>

</html>