<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
</head>
<body>
    <div>
        <div class="container-scroller">
            <%- include('partials/navbar') %>
            <%- include('partials/sidebar') %>
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Productos</h4>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>                                  
                                                    <th> Legajo </th>
                                                    <th> Nombre y apellido </th>
                                                    <th> Of. fiscal</th>
                                                    <th> Expte</th>
                                                    <th> Causa Muerte </th>
                                                    <th> Perito </th>
                                                    <th> Observaciones</th>
                                                    <th> Fecha Visado</th>
                                                    <th> acciones</th>

                                                </tr>
                                            </thead>
                                            <
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    
    <%- include('partials/footer') %>
    <%- include('partials/scripts') %>
</body>
</html>
